.inputTitle{
	width: auto;
	height: auto; 
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	color: red;
}

.inputTextarea{
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	color: red;
}

#button{
	width: auto;
	height: 30px;
	margin-top: 25px;
	color: red;
}

.outputResult{
	width: auto;
	height: auto;
	margin-top: 50px;
	margin-bottom: 150px;
	margin-left: auto;
	margin-right: auto;
	color: red;
}
